!!! 5
!= cc_html(lang: 'en') do
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %title So Coded
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'turbolinks'

  %body

    %header.mod-header
      %nav
        %ul
          %li= link_to 'Start', 'index.html', :relative => true
          %li= link_to 'Speakers', 'speakers.html', :relative => true
          %li= ticket_link 'Tickets'
          %li= link_to 'Info', 'info.html', :relative => true
          %li= link_to 'Schedule', 'schedule.html', :relative => true
          %li= link_to 'Sponsors', 'sponsors.html', :relative => true

    = yield

    %footer.mod-footer
      %ul
        %li= link_to '@socodedconf', 'https://twitter.com/intent/follow?region=follow_link&screen_name=socodedconf', :class => 'text', :title => "Follow @socodedconf on Twitter"
        %li= link_to 'Imprint', 'imprint.html', {:relative => true, :class => 'text'}
        %li= link_to 'Code Of Conduct', 'code-of-conduct.html', {:relative => true, :class => 'text'}

    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39021317-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();