%section.mod-start
  %h1
    %span.head So Coded
    = image_tag 'logo.png', :class => 'logo'
    %span.subhead
      %span.mission
        %span.visual.left
        %span Learn & hack for 2 days
        %span top notch international speakers
        %span 150 fellow web devs
        %span.visual.right
      %a(href="https://tito.io/so-coded/so-coded")
        = image_tag 'ticket.png', :class => 'ticket'
      %span.city Hamburg, Germany
      %span.date 19th & 20th Sept. 2013

.mod-speakers.mod-testimonials#testimonials
  %h2 What others say about So Coded

  %article
    %figure
      %a(href = 'https://twitter.com/cjse/status/352322386508529665')
        = image_tag 'https://si0.twimg.com/profile_images/2640600457/66086dcf03db21542f2922bfc62d81a2_normal.jpeg'
      %figcaption
        %p.position CJ Kihlbom
        %p.position
          = link_to 'Nordic Ruby', 'http://www.nordicruby.org/'
        %p.twitter
          = link_to "@cjse", "https://twitter.com/cjse"

    %p
      Wow, @socodedconf looks like a great conference. Love the focus on the hallway track. http://socoded.com

  %article
    %figure
      %a(href = 'https://twitter.com/matthiaslau/status/350545484982661120')
        = image_tag 'https://si0.twimg.com/profile_images/3090557609/1c424df5f387d215c6075d995f1a7fc4_normal.jpeg'
      %figcaption
        %p.position
        %p.twitter
          = link_to "@matthiaslau", "https://twitter.com/matthiaslau"

    %p
      Checkout @socodedconf. The re:publica for #hackers. learn, teach, hack and have fun. #socoded

  %article
    %figure
      %a(href = 'https://twitter.com/phpodcast_de/status/357233005774913537')
        = image_tag 'https://si0.twimg.com/profile_images/378800000156767627/697b15bb84c46be8499939bfa0914a02_normal.png'
      %figcaption
        %p.position
        %p.twitter
          = link_to "@phpodcast_de", "https://twitter.com/phpodcast_de"

    %p
      Ticket für die @socodedconf ist bestellt. Freue mich schon auf eine gute Zeit mit euch allen die da auch da sein werden :)

  %article
    %figure
      %a(href = 'https://twitter.com/fogelmania/status/352050288787603458')
        = image_tag 'https://si0.twimg.com/profile_images/59797611/refael4_normal.jpg'
      %figcaption
        %p.twitter
          = link_to "@fogelmania", "https://twitter.com/fogelmania"

    %p
      The Hamburg based @socodedconf team promised to change the conf Industry. I voted YAY. See you there on September!

