.mod-speakers
  %article#jessica
    %h2 Jessica Allen

    %figure
      = image_tag 'speakers/jessica_allen_framed.png'
      %figcaption
        %p.position
          San Francisco, USA
        %p.position
          = link_to "Engine Yard", "https://engineyard.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@jessicaspacekat", "https://twitter.com/jessicaspacekat", {:target => '_blank'}

    %h3 Craftstructionist

    %p
      Jessica, maker of the things. When she is not busy crafting the UI at Engine Yard there is so much to do! Like: Building desks,
      = link_to 'generating (awesome) random text,', 'http://www.rikeripsum.com/', {:target => '_blank'}
      sew things, glue things or just enjoy some expertly made coffee in and around San Francisco.

    %p
      We know Miss Allen for quite a while now and hereby declare it impossible to be in a bad mood while being in the same room with her. Our suggestion: Better come and hear her speak, learn how to build and finally become a happy human being again.
      = ticket_link 'This leads the way to your ticket to high spirits.'


  %article#paul
    %h2 Paul Campbell

    %figure
      = image_tag 'speakers/paul_campbell_framed.jpg'
      %figcaption
        %p.position
          Dublin, Ireland
        %p.position
          = link_to "tito", "https://tito.io", {:target => '_blank'}
          &
          = link_to "hypertiny", "http://www.hypertiny.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@paulca", "https://twitter.com/paulca", {:target => '_blank'}



    %h3 Coding Connoisseur

    %p
      Flipping through the «Book of Cool Irishman» it does not take long till you open Paul's page. The odds are good that if you ever have attended an awesome conferece, it was organized by Paul: Funconf, Brio, Úll you name it. Besides his ability to throw events everyone loves he also builds
      = link_to 'great', 'http://useketchup.com/', {:target => '_blank'}
      = link_to 'software', 'https://tito.io/', {:target => '_blank'}
      and has something to say.

    %p
      Your chance to hear a Trinity College philosophy alumni talk at a hacker conference. Curious what comes out of that?
      = ticket_link 'Get a ticket!'

  %article#jason
    %h2 Jason Costello

    %figure
      = image_tag 'speakers/jason_costello_framed.png'
      %figcaption
        %p.position
          San Francisco, USA
        %p.position
          = link_to "GitHub", "https://github.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@jsncostello", "https://twitter.com/jsncostello", {:target => '_blank'}

    %h3 Octo Overlord

    %p
      We are pretty sure that you have seen
      = link_to 'some of', 'http://octodex.github.com/megacat/', {:target => '_blank'}
      = link_to "Jason's art", 'http://octodex.github.com/wheres-waldocat/', {:target => '_blank'}
      = link_to 'out there', 'http://octodex.github.com/andycat/', {:target => '_blank'}
      = link_to 'on the internet', 'https://github.com/blog/1472-new-github-logo', {:target => '_blank'}
      = '.'
      And isn't it awesome?! So if you ever wanted to hear a designer who travelled 6,000 miles to get to a conference talk about something completely different:
      = ticket_link 'So Coded is your chance!'

  %article#andy
    %h2 Andy Delcambre

    %figure
      = image_tag 'speakers/andy_delcambre_framed.png'
      %figcaption
        %p.position
          San Francisco, USA
        %p.position
          = link_to "GitHub", "https://github.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@adelcambre", "https://twitter.com/adelcambre", {:target => '_blank'}

    %h3 The web's gist

    %p
      Grewn up in Stumptown - Portland, OR as a kid of two CS majors his job today is to make one of
      = link_to 'your favorite web services', 'https://gist.github.com', {:target => '_blank'}
      a little more awesome each day. He is the perfect one to take us on to lands that no web dev ever sees. Let Andy be our guide on a journey through the foundations of the tools we use every day and shed some light on the darker parts of the web.

    %p
      If that does not sound very interesting to you just swing buy to discuss some whiskey with Mr. Delcambre.
      = ticket_link 'Grab a ticket!'

  %article#chad
    %h2 cancelled

    %figure
      = image_tag 'speakers/chad_fowler_framed.png'

    %h3 We are super sorry!

    %p
      Unfortunately Chad has to cancel his appearance at So Coded. We are working together with him to find a drop in speaker as soon as possible. We will let you know here and
      = link_to "on Twitter", "https://twitter.com/socodedconf", {:target => '_blank'}
      as soon as we can announce who will be speaking instead.


  %article#konstantin
    %h2 Konstantin Haase

    %figure
      = image_tag 'speakers/konstantin_haase_framed.png'
      %figcaption
        %p.position
          Berlin, Germany
        %p.position
          = link_to "Travis CI", "http://travisci.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@konstantinhaase", "https://twitter.com/konstantinhaase", {:target => '_blank'}

    %h3 Gentlenerd

    %p
      Welcome the maintainer of Ruby's
      = link_to 'Sinatra framework', 'http://www.sinatrarb.com/', {:target => '_blank'}
      , developer of
      = link_to 'Rubinius', 'http://rubini.us/', {:target => '_blank'}
      and
      = link_to 'well travelled', 'https://bring-konstantin-to.magmaconf.com/', {:target => '_blank'}
      speaker at So Coded: Hello Konstantin!

    %p
      Straight from Berlin to Hamburg comes one of our Ruby heroes to spread some insights on the inner workings of our web developers tools of trade. Want to go for a deep dive?
      = ticket_link 'Come to So Coded!'

  %article#drnic
    %h2 Nic Williams

    %figure
      = image_tag 'speakers/nic_williams_framed.png'
      %figcaption
        %p.position
          Palo Alto, USA
        %p.position
          = link_to "Stark & Wayne LLC", "http://starkandwayne.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@drnic", "https://twitter.com/drnic", {:target => '_blank'}

    %h3 The Doctor Is In

    %p
      Nic helped to shape the Ruby community since years. His
      = link_to 'GitHub profile', 'https://github.com/drnic', {:target => '_blank'}
      list no less than 296 projects. Among them everything from
      = link_to 'famous TextMate plugins', 'https://github.com/drnic/ruby-on-rails-tmbundle', {:target => '_blank'}
      to participation in the
      = link_to 'puma app server', 'https://github.com/puma', {:target => '_blank'}
      ,
      = link_to 'Rubinius', 'https://github.com/rubinius', {:target => '_blank'}
      and the
      = link_to 'Rails Installer', 'https://github.com/railsinstaller', {:target => '_blank'}
      = '.  Today he is earning his'
      = link_to 'Cloud Foundry', 'http://www.cloudfoundry.com/', {:target => '_blank'}
      merits as a
      = link_to 'Bosh expert', 'https://github.com/cloudfoundry/bosh', {:target => '_blank'}
      helping the world to get the most out of "the cloud". For sure he has some deployment tricks up his sleeve for you!

    %p
      Ever wanted to
      =link_to 'hack together your own Heroku', 'https://github.com/cloudfoundry-community/bosh-cloudfoundry/blob/master/tutorials/build-your-own-heroku-with-cloudfoundry.md', {:target => '_blank'}
      ? Do it with Dr. Nic -
      = ticket_link 'Join us at So Coded!'

  %article#tba
    %h2 Who is next?

    %figure
      = image_tag 'speakers/tba.jpg'

    %h3 More speakers coming soon

    %p
      = link_to "Follow us on Twitter", 'https://twitter.com/intent/follow?region=follow_link&screen_name=socodedconf', {:target => '_blank'}
      and be the first to find out about new speakers when we announce them.