.mod-speakers
  %article#jessica
    %h2 Jessica Allen

    %figure
      = image_tag 'speakers/jessica_allen_framed.png'
      %figcaption
        %p.position
          San Francisco, USA
        %p.position
          = link_to "Engine Yard", "https://engineyard.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@jessicaspacekat", "https://twitter.com/jessicaspacekat", {:target => '_blank'}

    %h3 Craftstructionist

    %p
      Jessica, maker of the things. When she is not busy crafting the UI at Engine Yard there is so much to do! Like: Building desks,
      = link_to 'generating (awesome) random text,', 'http://www.rikeripsum.com/', {:target => '_blank'}
      sew things, glue things or just enjoy some expertly made coffee in and around San Francisco.

    %p
      We know Miss Allen for quite a while now and hereby declare it impossible to be in a bad mood while being in the same room with her. Our suggestion: Better come and hear her speak, learn how to build and finally become a happy human being again.
      = ticket_link 'This leads the way to your ticket to high spirits.'

  %article#astrid
    %h2 Astrid Bin

    %figure
      = image_tag 'speakers/astrid_bin_framed.png'
      %figcaption
        %p.position
          London, UK
        %p.position
          = link_to "astridbin.com", "http://astridbin.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@disastrid", "https://twitter.com/disastrid", {:target => '_blank'}

    %h3 Teller of the Tales

    %p
      Astrid makes, lives and breathes art. According to sources close to the matter she has
      =link_to "photographed over 4,000 banana skins", "http://www.astridbin.com/london-bananas/", {:target => '_blank'}
      = ','
      =link_to "made a pigeon picture from toast", "http://www.astridbin.com/feast/", {:target => '_blank'}
      or set your thoughts free
      =link_to "and let them fly", "http://www.astridbin.com/one-thousand-means-of-escape/", {:target => '_blank'}
      = "."

    %p
      Besides that being awesome in itself Astrid also uses web technology to tell immersive stories in new ways. Using all sorts of media
      she bends our understanding of how a narrative can be delivered.
      = ticket_link 'Grab your ticket to hear her story.'

  %article#robin
    %h2 Robin Boehm

    %figure
      = image_tag 'speakers/robin_boehm_framed.png'
      %figcaption
        %p.position
          Essen, Germany
        %p.position
          = link_to "AngularJS.de", "http://angularjs.de/entwickler/robinboehm", {:target => '_blank'}
        %p.twitter
          = link_to "@roobijn", "https://twitter.com/roobijn", {:target => '_blank'}

    %h3 Wizard of Client Sides

    %p
      Robin is on a mission to teach and build JavaScript front end projects that are not your common jQuery butchery. Instead he brings test driven practices to his clients in a world where try & error is still the norm.

    %p
      He is also co-author of the
      = link_to "German AngularJS book", "http://angularjs.de/buch", {:target => '_blank'}
      = '.'

    %p
      = ticket_link 'Check it out at So Coded!'

  %article#paul
    %h2 Paul Campbell

    %figure
      = image_tag 'speakers/paul_campbell_framed.jpg'
      %figcaption
        %p.position
          Dublin, Ireland
        %p.position
          = link_to "tito", "https://tito.io", {:target => '_blank'}
          &
          = link_to "hypertiny", "http://www.hypertiny.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@paulca", "https://twitter.com/paulca", {:target => '_blank'}



    %h3 Coding Connoisseur

    %p
      Flipping through the «Book of Cool Irishman» it does not take long till you open Paul's page. The odds are good that if you ever have attended an awesome conferece, it was organized by Paul: Funconf, Brio, Úll you name it. Besides his ability to throw events everyone loves he also builds
      = link_to 'great', 'http://useketchup.com/', {:target => '_blank'}
      = link_to 'software', 'https://tito.io/', {:target => '_blank'}
      and has something to say.

    %p
      Your chance to hear a Trinity College philosophy alumni talk at a hacker conference. Curious what comes out of that?
      = ticket_link 'Get a ticket!'

  %article#jason
    %h2 Jason Costello

    %figure
      = image_tag 'speakers/jason_costello_framed.png'
      %figcaption
        %p.position
          San Francisco, USA
        %p.position
          = link_to "GitHub", "https://github.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@jsncostello", "https://twitter.com/jsncostello", {:target => '_blank'}

    %h3 Octo Overlord

    %p
      We are pretty sure that you have seen
      = link_to 'some of', 'http://octodex.github.com/megacat/', {:target => '_blank'}
      = link_to "Jason's art", 'http://octodex.github.com/wheres-waldocat/', {:target => '_blank'}
      = link_to 'out there', 'http://octodex.github.com/andycat/', {:target => '_blank'}
      = link_to 'on the internet', 'https://github.com/blog/1472-new-github-logo', {:target => '_blank'}
      = '.'
      And isn't it awesome?! So if you ever wanted to hear a designer who travelled 6,000 miles to get to a conference talk about something completely different:
      = ticket_link 'So Coded is your chance!'

  %article#andy
    %h2 Andy Delcambre

    %figure
      = image_tag 'speakers/andy_delcambre_framed.png'
      %figcaption
        %p.position
          San Francisco, USA
        %p.position
          = link_to "GitHub", "https://github.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@adelcambre", "https://twitter.com/adelcambre", {:target => '_blank'}

    %h3 The Web's Gist

    %p
      Grewn up in Stumptown - Portland, OR as a kid of two CS majors his job today is to make one of
      = link_to 'your favorite web services', 'https://gist.github.com', {:target => '_blank'}
      a little more awesome each day. He is the perfect one to take us on to lands that no web dev ever sees. Let Andy be our guide on a journey through the foundations of the tools we use every day and shed some light on the darker parts of the web.

    %p
      If that does not sound very interesting to you just swing buy to discuss some whiskey with Mr. Delcambre.
      = ticket_link 'Grab a ticket!'

  %article#chad
    %h2 cancelled

    %figure
      = image_tag 'speakers/chad_fowler_framed.png'

    %h3 We are super sorry!

    %p
      Unfortunately Chad has to cancel his appearance at So Coded. We are working together with him to find a drop in speaker as soon as possible. We will let you know here and
      = link_to "on Twitter", "https://twitter.com/socodedconf", {:target => '_blank'}
      as soon as we can announce who will be speaking instead.



  %article#michael
    %h2 Michael Godfrey

    %figure
      = image_tag 'speakers/michael_godfrey_framed.png'
      %figcaption
        %p.position
          Waterloo, Canada
        %p.position
          = link_to "Cheriton School of Computer Science", "https://cs.uwaterloo.ca/", {:target => '_blank'}
        %p.twitter
          = link_to "@migod", "https://twitter.com/migod", {:target => '_blank'}

    %h3 The Scientist

    %p
      As an associate professor at the University of Waterloo Michael's research interests spans many areas of empirical software engineering including
      = link_to 'software evolution', 'http://plg.uwaterloo.ca/~migod/846/2013-Winter/', {:target => '_blank'}
      = ','
      = link_to 'mining software repositories', 'http://2013.msrconf.org/', {:target => '_blank'}
      = ','
      = link_to 'reverse engineering', 'http://plg.uwaterloo.ca/~migod/papers/2012/wcre12-olgaAlexReid.pdf', {:target => '_blank'}
      = ','
      = link_to 'program comprehension', 'http://plg.uwaterloo.ca/~migod/papers/2009/icpc09-abram.pdf', {:target => '_blank'}
      = ', and'
      = link_to 'software clone detection and analysis', 'http://plg.uwaterloo.ca/~migod/papers/2010/iwsc10.pdf', {:target => '_blank'}
      = '.'

    %p
      He also contributed a chapter entitled "Copy-Paste as a Principled Engineering Tool" to the 2010 O'Reilly book
      = link_to 'Making Software: What Really Works and Why We Believe It', 'http://shop.oreilly.com/product/9780596808303.do', {:target => '_blank'}
      = '.'

    %p
      = ticket_link 'Lets do some science at So Coded!'

  %article#konstantin
    %h2 Konstantin Haase

    %figure
      = image_tag 'speakers/konstantin_haase_framed.png'
      %figcaption
        %p.position
          Berlin, Germany
        %p.position
          = link_to "Travis CI", "http://travisci.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@konstantinhaase", "https://twitter.com/konstantinhaase", {:target => '_blank'}

    %h3 Gentlenerd

    %p
      Welcome the maintainer of Ruby's
      = link_to 'Sinatra framework', 'http://www.sinatrarb.com/', {:target => '_blank'}
      , developer of
      = link_to 'Rubinius', 'http://rubini.us/', {:target => '_blank'}
      and
      = link_to 'well travelled', 'https://bring-konstantin-to.magmaconf.com/', {:target => '_blank'}
      speaker at So Coded: Hello Konstantin!

    %p
      Straight from Berlin to Hamburg comes one of our Ruby heroes to spread some insights on the inner workings of our web developers tools of trade. Want to go for a deep dive?
      = ticket_link 'Come to So Coded!'

  %article#hans
    %h2 Hans Christian

    %figure
      = image_tag 'speakers/hans_christian_reinl_framed.png'
      %figcaption
        %p.position
          Freiburg, Germany
        %p.position
          = link_to "GitHub profile", "https://github.com/drublic", {:target => '_blank'}
        %p.twitter
          = link_to "@drublic", "https://twitter.com/drublic", {:target => '_blank'}

    %h3 Podcast Genius For Fun & Profit

    %p
      As a part of the
      = link_to 'HTML5 Boilerplate', 'http://html5boilerplate.com/', {:target => '_blank'}
      team Hans lives at the edge of web technology. And as one of the good guys he does not keep the wisdom he gathers there for himself but shares
      it with the world
      = link_to 'on his blog', 'http://drublic.de/blog', {:target => '_blank'}
      or as a co-host of the famous german
      = link_to 'workingdraft', 'http://workingdraft.de/', {:target => '_blank'}
      podcast.

    %p
      Meet a HTML5 wizard:
      = ticket_link 'Come to So Coded'


  %article#igor
    %h2 Igor Terzic

    %figure
      = image_tag 'speakers/igor_terzic_framed.png'
      %figcaption
        %p.position
          At a keyboard, Near you
        %p.position
          = link_to "GitHub profile", "https://github.com/igorT", {:target => '_blank'}
        %p.twitter
          = link_to "@terzicigor", "https://twitter.com/terzicigor", {:target => '_blank'}

    %h3 Backpack Hacker

    %p
      Igor is currently traveling and solving all those financial problems with software at
      = link_to 'Addepar', 'https://addepar.com', {:target => '_blank'}
      = '. Before that he worked on bringing knowledge to the world at'
      = link_to 'Khan Academy', 'https://www.khanacademy.org/', {:target => '_blank'}
      Besides that he spends a lot of time helping the
      = link_to 'ember.js', 'http://emberjs.com/', {:target => '_blank'}
      team by improving
      = link_to 'ember-data', 'https://github.com/emberjs/data',  {:target => '_blank'}
      and spreading the word about it.

    %p
      If you ever wanted to meet someone who actually loves refactoring more than writing new apps
      = ticket_link 'meet Igor at So Coded!'

  %article#drnic
    %h2 Nic Williams

    %figure
      = image_tag 'speakers/nic_williams_framed.png'
      %figcaption
        %p.position
          Palo Alto, USA
        %p.position
          = link_to "Stark & Wayne LLC", "http://starkandwayne.com/", {:target => '_blank'}
        %p.twitter
          = link_to "@drnic", "https://twitter.com/drnic", {:target => '_blank'}

    %h3 The Doctor Is In

    %p
      Nic helped to shape the Ruby community since years. His
      = link_to 'GitHub profile', 'https://github.com/drnic', {:target => '_blank'}
      list no less than 296 projects. Among them everything from
      = link_to 'famous TextMate plugins', 'https://github.com/drnic/ruby-on-rails-tmbundle', {:target => '_blank'}
      to participation in the
      = link_to 'puma app server', 'https://github.com/puma', {:target => '_blank'}
      ,
      = link_to 'Rubinius', 'https://github.com/rubinius', {:target => '_blank'}
      and the
      = link_to 'Rails Installer', 'https://github.com/railsinstaller', {:target => '_blank'}
      = '.  Today he is earning his'
      = link_to 'Cloud Foundry', 'http://www.cloudfoundry.com/', {:target => '_blank'}
      merits as a
      = link_to 'Bosh expert', 'https://github.com/cloudfoundry/bosh', {:target => '_blank'}
      helping the world to get the most out of "the cloud". For sure he has some deployment tricks up his sleeve for you!

    %p
      Ever wanted to
      =link_to 'hack together your own Heroku', 'https://github.com/cloudfoundry-community/bosh-cloudfoundry/blob/master/tutorials/build-your-own-heroku-with-cloudfoundry.md', {:target => '_blank'}
      ? Do it with Dr. Nic -
      = ticket_link 'Join us at So Coded!'