.mod-speakers.sponsors
  %article
    %h2 Speaker Infos

    %p
      Hi! I'm Ole, I'm here for anything related to your presentation, talk or your general feelgood during your stay in Hamburg.

    %p
      = image_tag 'ole.png', :style => 'max-width: none'

    %p
      If you have not yet fill out this form before anything else:
      = link_to 'this form', 'https://docs.google.com/forms/d/1b2VubtYOMgyD0k57VVh-NkRI88VbNuh4Vv70lfHgR0M/viewform'
      We absolutely need to know your setup before the conference!

    %h2 General Info

    %p All sessions are 30 minutes long

    %p
      No Q/A after the talks
      %br
      (a.k.a: please hang out with the attendees at our awesome bar and hack with them on any questions that might come up)

    %p You must use our presenters computer

    %p There will be a presenter remote

    %p
      Your slides must be 1440x1080px

    %p
      Audio output will be available

    %p
      We will have headset mics

    %p
      Here are some templates pre-configured with the correct resolution. Please note that neither Power Point nor Open Office allow for pixel based sizes. The templates are generic 4:3 templates instead.

      %ul
        %li
          = link_to 'Keynote \'09', 'slidedeck-templates/socoded-template.key'
        %li
          = link_to 'Power Point', 'slidedeck-templates/socoded-template.pptx'
        %li
          = link_to 'Open Office', 'slidedeck-templates/socoded-template.odp'

    %h2 The Stage

    %p
      We are using a full HD presenter on a 3x2m canvas. Here are some rough renders of how folks in the front, middle and back of the room will experience the setup.
      %ul
        %li
          %a{:href => '/images/info/first_row.png'}
            = image_tag 'info/first_row_thumb.png'
        %li
          %a{:href => '/images/info/middle_row.png'}
            = image_tag 'info/middle_row_thumb.png'
        %li
          %a{:href => '/images/info/last_row.png'}
            = image_tag 'info/last_row_thumb.png'

    %h2 What else?

    %p
      All our talks will be recorded and will be released for free right after the event. Plus we're partnering with some local video geeks so that we can stream your talk to the bar and have almost zero post-production.

    %h3 The Schedule

    %p Please note that we are trying to keep the schedule kinda secret. So please don't share the schedlue with the attendees!

    %p Thursday 19th
    %p 10:45 Jessica
    %p 11:45 Igor
    %p 01:00 Dr. Nic
    %p 02:45 Hans-Christian
    %p 05:30 Jason & Rob
    %p Friday 20th
    %p 11:15 Andy
    %p 12:30 Astrid 
    %p 01:45 Robin 
    %p 03:30 Michael
    %p 04:45 Konstantin
    %p 06:00 Paul

    %h3 Have a question or need help?

    %p
      Again: Ole is there for you! We are here for every possible question that may pop up. Wether you are searching for the best public transport connection or need a recommendation for a good restaurant. Or you are stuck with any non-english speaking locals, drop me a call
      %b I AM HERE TO HELP