.mod-speakers
  %article
    %h2 Paul Campbell

    %figure
      = image_tag 'speakers/paul_campbell_framed.png'
      %figcaption
        %p.position
          = link_to "tito", "https://tito.io"
          &
          = link_to "hypertiny", "http://www.hypertiny.com/"
        %p.twitter
          = link_to "@paulca", "https://twitter.com/paulca"

    %h3 How to Write Big Apps

    %p The Seneca pattern is a way to break your application into pieces so that you can put it back together again in many different ways. You don't have to worry about architecture, database choice, network design, scaling or even which objects to define - you can defer them all! Instead you focus on the "stuff that needs to happen" right from that start.

    %p A concrete, production implementation exists in Node.js, and you can also write components in other languages.

  %article
    %h2 Paul Campbell

    %figure
      = image_tag 'speakers/paul_campbell_small.jpg'
      %figcaption
        %p.position
          = link_to "tito", "https://tito.io"
          &
          = link_to "hypertiny", "http://www.hypertiny.com/"
        %p.twitter
          = link_to "@paulca", "https://twitter.com/paulca"

    %h3 How to Write Big Apps

    %p The Seneca pattern is a way to break your application into pieces so that you can put it back together again in many different ways. You don't have to worry about architecture, database choice, network design, scaling or even which objects to define - you can defer them all! Instead you focus on the "stuff that needs to happen" right from that start.

    %p A concrete, production implementation exists in Node.js, and you can also write components in other languages.