.mod-speakers
  %article#paul
    %h2 Paul Campbell

    %figure
      = image_tag 'speakers/paul_campbell_framed.jpg'
      %figcaption
        %p.position
          Dublin, Ireland
        %p.position
          = link_to "tito", "https://tito.io"
          &
          = link_to "hypertiny", "http://www.hypertiny.com/"
        %p.twitter
          = link_to "@paulca", "https://twitter.com/paulca"



    %h3 Coding Connoisseur

    %p
      Flipping through the «Book of Cool Irishman» it does not take long till you open Paul's page. The odds are good that if you ever have attended an awesome conferece, it was organized by Paul: Funconf, Brio, Úll you name it. Besides his ability to throw events everyone loves he also builds
      = link_to 'great', 'http://useketchup.com/'
      = link_to 'software', 'https://tito.io/'
      and has something to say.

    %p
      Your chance to hear a Trinity College philosophy alumni talk at a hacker conference. Curious what comes out of that?
      = ticket_link 'Get a ticket!'

  %article#jason
    %h2 Jason Costello

    %figure
      = image_tag 'speakers/jason_costello_framed.png'
      %figcaption
        %p.position
          San Francisco, USA
        %p.position
          = link_to "GitHub", "https://github.com/"
        %p.twitter
          = link_to "@jsncostello", "https://twitter.com/konstantinhaase"

    %h3 Octo Overlord

    %p
      We are pretty sure that you have seen
      = link_to 'some of', 'http://octodex.github.com/megacat/'
      = link_to "Jason's art", 'http://octodex.github.com/wheres-waldocat/'
      = link_to 'out there', 'http://octodex.github.com/andycat/'
      = link_to 'on the internet', 'https://github.com/blog/1106-say-hello-to-octicons'
      = '.'
      And isn't it awesome?! So if you ever wanted to hear a designer who travelled 6,000 miles to get to a conference talk about something completely different:
      = ticket_link 'So Coded is your chance!'

  %article#konstantin
    %h2 Konstantin Haase

    %figure
      = image_tag 'speakers/konstantin_haase_framed.png'
      %figcaption
        %p.position
          Berlin, Germany
        %p.position
          = link_to "Travis CI", "http://travisci.com/"
        %p.twitter
          = link_to "@konstantinhaase", "https://twitter.com/konstantinhaase"

    %h3 Gentlenerd

    %p
      Welcome the maintainer of Ruby's
      = link_to 'Sinatra framework', 'http://www.sinatrarb.com/'
      , developer of
      = link_to 'Rubinius', 'http://rubini.us/'
      and
      = link_to 'well travelled', 'https://bring-konstantin-to.magmaconf.com/'
      speaker at So Coded: Hello Konstantin!

    %p
      Straight from Berlin to Hamburg comes one of our Ruby heroes to spread some insights on the inner workings of our web developers tools of trade. Want to go for a deep dive?
      = ticket_link 'Come to So Coded!'

  %article#tba
    %h2 Who is next?

    %figure
      = image_tag 'speakers/tba.jpg'

    %h3 More speakers coming soon

    %p
      = link_to "Follow us on Twitter", 'https://twitter.com/intent/follow?region=follow_link&screen_name=socodedconf'
      and be the first to find out about new speakers when we announce them.