.mod-speakers.sponsors
  %article
    %h2 Sponsors

    %p
      Below the list of our amazing Sponsors. Guys, you are greatest ever! Thanks so much for being part of this conference. Lets thank them for the support and cooperation. It is them who make this event happen for you.

    %p
      If you are looking to support So Coded contact
      = link_to 'sponsors@socoded.com', 'mailto:sponsors@socoded.com'
      check our
      = link_to "Sponsorship flyer", 'sponsoring_flyer.pdf', {:relative => true, 'target' => '_blank'}
      = '.'

  = sponsor "Jimdo", "jimdo.png", "http://jimdo.com/"

  = sponsor "GitHub", "github.png", "https://github.com/"

  = sponsor "Engine Yard", "engine_yard.png", "https://www.engineyard.com/"

  = sponsor "InnoGames", "innogames.png", "http://www.innogames.com/"

  = sponsor "tolingo", "tolingo.png", "https://www.tolingo.com/"

  = sponsor "XING AG", "xing.png", "https://www.xing.com/"

  = sponsor "Wer liefert was", "werliefertwas.png", "http://www.wlw.de/"

  = sponsor "DNSimple", "dnsimple.png", "https://dnsimple.com/"

  = sponsor "mindmatters", "mindmatters.png", "http://mindmatters.de/"

  = sponsor "Thunderbolt Labs", "thunderboltlabs.png", "http://thunderboltlabs.com/"

  = sponsor "blau Mobilfunk", "blau.png", "https://www.blau.de/"

  = sponsor "AKRA", "akra.png", "https://akra.de/"

  %article.no-bottom.high-top
    %h2 Supporters

  = sponsor 'Glare Studios', 'glarestudios.png', 'http://glarestudios.de/'

  = sponsor 'OPITZ CONSULTING', 'opitz.jpg', 'http://www.opitz-consulting.com/'

  = sponsor "mindsmash", "mindsmash.png", "http://www.mindsmash.com/"

  = sponsor "Hamburg@work", "hhatwork.png", "http://www.hamburg-media.net/"

  = sponsor "Games-Career", "games_career.png", "http://www.games-career.com/"

  = sponsor "easyfeedback", "easy_feedback.png", "https://easy-feedback.de/"

  = sponsor "SliceCraft", "slicecraft.png", "http://www.slicecraft.com/"

  = sponsor "Code School", "codeschool.png", "http://www.codeschool.com/"

  = sponsor "Hamburg Kreativ Gesellschaft", "kreativ_gesellschaft.png", "http://kreativgesellschaft.org/"